@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    HIDDEN<br />
    Seattle, WA 98109<br />
    <abbr title="Phone">P:</abbr>
    (###) ###-####
</address>

<address>
    <strong>Contact Me:</strong>   <a href="mailto:stevenfarnell@gmail.com">stevenfarnell@gmail.com</a>
</address>