
@{    
    ViewBag.Title = "Not Found";
}
<div class="jumbotron">
    <h1 id="NotFoundMessage">Code Not Found!</h1>

    <h2>The Specified Short Code was not found in the Database.  Please verify the URL and try again.</h2>
    <h3>@ViewBag.Message</h3>
</div>

