<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=urlmini_db;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <add key="ClientBaseAddress" value="http://localhost:51063/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
  </appSettings>
</configuration>