<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ConnectionString" value="Server=tcp:urlminidata.database.windows.net,1433;Database=urlmini_db;User ID=urlminiDataUser@urlminidata;Password=urlMiniDataP@ssw0rd;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClientBaseAddress" value="http://urlmini.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>