<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>

    <add key="desiredWebBrowser" value="Firefox" />
    <add key="ConnectionString" value="" />
    <add key="ClientBaseAddress" value="" />

  </appSettings>
  
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" /></specFlow>
</configuration>